<div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                        <a href="index.html" class="navbar-brand">
                            <!-- <h1 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>Trijal Group</h1> -->
                            <img src="/image/TRIJAL_GROUP-removebg-preview.png" alt="" style="width: 200px; height: 200px;">
                        </a>
                        <p class="mt-3 mb-4">Trijal Group is a dynamic conglomerate known for its excellence across various industries. With a portfolio spanning sustainable construction, personalized real estate services, cutting-edge software consulting, and efficient transport and mining solutions, we redefine standards through innovation and quality.</p>
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                                <button class="btn btn-dark">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Get In Touch</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="fa-solid fa-location-dot"></i>
                                <!-- <p class="mb-0">123 Street, New York, USA</p> -->
                            </div>
                            <div class="d-flex mb-2">
                                <i class="fa-solid fa-envelope"></i>
                                <p class="mb-0">info@trijalgroup.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="fa-solid fa-phone"></i>
                                <p class="mb-0">+91 82492 41378</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="fa-solid fa-phone"></i>
                                <p class="mb-0">+91 93386 36788</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="fa-solid fa-phone"></i>
                                <p class="mb-0">+91 98611 99992</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fa-brands fa-square-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Quick Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="/"><i class="fa-solid fa-arrow-right-long"></i>&nbsp;Home</a>
                                <a class="text-light mb-2" href="/about"><i class="fa-solid fa-arrow-right-long"></i>&nbsp;About Us</a>
                                <a class="text-light mb-2" href="/gallerypage"><i class="fa-solid fa-arrow-right-long"></i>&nbsp;Gallery</a>
                                <a class="text-light mb-2" href="/blogpage"><i class="fa-solid fa-arrow-right-long"></i>&nbsp; Blog</a>
                                <a class="text-light" href="/contact"><i class="fa-solid fa-arrow-right-long"></i>&nbsp;Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Popular Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="/construction"><i class="fa-solid fa-arrow-right-long">&nbsp;</i>Construction</a>
                                <a class="text-light mb-2" href="/realestate"><i class="fa-solid fa-arrow-right-long">&nbsp;</i>Realestate Property Agent</a>
                                <a class="text-light mb-2" href="/software"><i class="fa-solid fa-arrow-right-long">&nbsp;</i>Software Consulting Services</a>
                                <a class="text-light mb-2" href="/transport"><i class="fa-solid fa-arrow-right-long">&nbsp;</i>Transport And Mining</a>
                                <a class="text-light mb-2" href="/business"><i class="fa-solid fa-arrow-right-long">&nbsp;</i>Bussiness Consulting</a>
                                <a class="text-light" href="/waterair"><i class="fa-solid fa-arrow-right-long">&nbsp;</i>Water and Air Solution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                        <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">Trijal Group</a>. All Rights Reserved. 
						
						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						Designed by <a class="text-white border-bottom" href="https://metaveostechnologies.com/">Metaveos Technology</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>