<div class="main-container">
<div class="navcontainer">
    <nav class="nav">
      <div class="nav-upper-options">
        
          <a href="/admin">
            <div class="nav-option option1">

                <h3> Dashboard</h3>
            </div>
        </a>
        
          <div id="subcontent1"> 
            <div class="option2 nav-option">
                <h3><i class="fa-solid fa-child"></i>&nbsp;&nbsp;Students</h3>
            </div>
            <a href="/allstudents"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All Students</p></a>
           
        </div>
        <div id="subcontent2">
          <div class="option2 nav-option">
              <h3><i class="fa-solid fa-person-chalkboard"></i>&nbsp;&nbsp;Teachers</h3>
          </div>
          <a href="/allteacher"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All Teachers</p></a>
         
      </div>
      <div id="subcontent3">
        <div class="option2 nav-option">
            <h3><i class="fa-solid fa-people-group"></i>&nbsp;&nbsp;Parents</h3>
        </div>
        <a href="/allparents"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All Parents</p></a>
        
      </div>
      <div id="subcontent4">
        <div class="option2 nav-option">
            <h3><i class="fa-solid fa-book"></i>&nbsp;&nbsp;Library</h3>
        </div>
        <a href="/allbooks"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All Book</p></a>
        <a href="/addbooks"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Add New Book</p></a>
        
      </div>
      
      <a href="/classes"><div class="nav-option logout">
                    
        <h3><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;Class </h3>
    </div>
      </a>
    
      <a href="/classroutine"><div class="nav-option logout">
                    
        <h3><i class="fa-solid fa-landmark"></i>&nbsp;&nbsp;Class Routinee</h3>
    </div>
      </a>
      <div id="subcontent5">
        <div class="option2 nav-option">
          <h3><i class="fa-solid fa-clipboard-user"></i>&nbsp;&nbsp;Attendence</h3>
        </div>
        <a href="/markattendance"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Attendance&nbsp;Sheet</p></a>
        <a href="/attendance"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All&nbsp;attendance</a>
        
      </div>
      <div id="subcontent7">
        <div class="option2 nav-option">
            <h3><i class="fa-solid fa-book"></i>&nbsp;&nbsp;Exam</h3>
        </div>
        <a href="/examschedule"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Exam Schedule</p></a>
        
        
      </div>
     
      </div>
    </nav>
  </div>
  <div class="main">
    <div class="searchbar2">
      <input type="text" placeholder="Search" >
      <div class="searchbtn">
        <img src="/image/search.png" class="icn srchicn"  alt="" >
      </div>
    </div>

    <div class="box-container">
      <div class="box box1">
        <div class="text">
          <h2 class="topic-heading">150</h2>
          <br />
          <h2 class="topic">Teacher</h2>
        </div>

        <img src="/image/teacher.png" alt="Movies" />
      </div>

      <div class="box box2">
        <div class="text">
          <h2 class="topic-heading">8000</h2>
          <br />
          <h2 class="topic">Student</h2>
        </div>

        <img src="/image/student.png" alt="social" />
      </div>

      <div class="box box3">
        <div class="text">
          <h2 class="topic-heading">99%</h2>
          <br />
          <h2 class="topic">Percentage</h2>
        </div>

        <img src="/image/discount.png" alt="projects" />
      </div>

      <div class="box box4">
        <div class="text">
          <h2 class="topic-heading">98%</h2>
          <br />
          <h2 class="topic">Sucesss</h2>
        </div>

        <img src="/image/tick.png" alt="upcoming" />
      </div>
    </div>
    

  </div>
  
</div>