<header>
     
    <div class="logosec">
      <img src="/image/img-3.png" class="icn menuicn" id="menuicn" alt="menu-icon"/>
      
      
      <div class="logo">TRIJAL&nbsp;GROUP</div>
    </div>
    
    <div class="message">
      
      <div>
        <h4>Admin</h4>
      </div>
    </div>
    
  </header>