<nav class="nav">
    <div class="nav-upper-options">
      
        <a href="/admin">
          <div class="nav-option option1">

              <h3> Dashboard</h3>
          </div>
      </a>
      
        <div id="subcontent1">
          <div class="option2 nav-option">
            <h3><i class="fa-solid fa-building text-white"></i>&nbsp;&nbsp;Projects</h3>
          </div>
          <a href="/allprojects"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All&nbsp;Projects</p></a>
          <a href="/addprojects"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Add&nbsp;Projects</p></a>
         
      </div>
      <div id="subcontent2">
        <div class="option2 nav-option">
            <h3><i class="fa-solid fa-image text-white"></i>&nbsp;&nbsp;Gallery</h3>
        </div>
        <a href="/allphotos"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All&nbsp;Photos</p></a>
        <a href="/addphotos"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Add&nbsp;Photos</p></a>
    </div>
    <div id="subcontent3">
      <div class="option2 nav-option">
          <h3><i class="fa-solid fa-blog text-white"></i>&nbsp;&nbsp;Blogs</h3>
      </div>
      <a href="/allblogs"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;All&nbsp;Blogs</p></a>
      <a href="/addblogs"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Add&nbsp;Blogs</p></a>
    </div>
    <a href="/enquriy"><div class="nav-option logout">
                    
      <h3><i class="fa-brands fa-searchengin text-white"></i></i>&nbsp;&nbsp;Enquiry</h3>
  </div>
    </a>
    <div id="subcontent4">
      <div class="option2 nav-option">
          <h3><i class="fa-solid fa-gear text-white"></i></i>&nbsp;&nbsp;Setting</h3>
      </div>
      <a href="/viewprofile"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;View&nbsp;Profile</p></a>
      <a href="/editprofile"><p class="option"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Edit&nbsp;Profile</p></a>
    </div>
    <a href="/auth/logout"><div class="nav-option logout">
                    
      <h3><i class="fa-solid fa-right-from-bracket text-white"></i>&nbsp;&nbsp;LogOut</h3>
  </div>
    </a>
    
   
</div>
  </nav>